<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulario de Empresas Propietarias de Terrenos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="row">
        <div class="col-md-3">
            <div th:insert="~{sidebar :: sidebar}"></div>
        </div>
        <div class="col-md-9">
            <div class="container mt-4">
                <div class="col-sm-6">
                    <div class="card">
                        <form th:action="@{/empresa/guardar}" th:object="${empresa}" method="POST">
                            <div class="card-header">Formulario de Empresas Propietarias de Terrenos</div>
                            <div class="card-body">
                                <!-- ruc -->
                                <div class="mb-3">
                                    <label for="ruc" class="form-label">Ruc</label>
                                    <input type="text" class="form-control" id="ruc" name="ruc" th:field="*{ruc}"
                                        th:readonly="${readonly}">
                                </div>
                                <!-- nombre -->
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        th:field="*{nombre}">
                                </div>
                                <!-- razonSocial -->
                                <div class="mb-3">
                                    <label for="razonSocial" class="form-label">Razon Social</label>
                                    <input type="text" class="form-control" id="razonSocial" name="razonSocial"
                                        th:field="*{razonSocial}">
                                </div>
                                <!-- tipoDeEmpresa -->
                                <div class="form-group">
                                    <label for="tipoDeEmpresa">Tipo de empresa</label>
                                    <select th:field="*{tipoDeEmpresa}" class="form-control" id="tipoDeEmpresa"
                                        name="tipoDeEmpresa">
                                        <option th:each="tipoDeEmpresa : ${tiposEmpresa}" th:value="${tipoDeEmpresa.id}"
                                            th:text="${tipoDeEmpresa.nombre}"></option>
                                    </select>
                                </div>
                                <!-- direccion -->
                                <div class="mb-3">
                                    <label for="propietario.direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="propietario.direccion"
                                        name="propietario.direccion" th:field="*{propietario.direccion}">
                                </div>
                                <!-- correo -->
                                <div class="mb-3">
                                    <label for="propietario.correo" class="form-label">Correo</label>
                                    <input type="text" class="form-control" id="propietario.correo"
                                        name="propietario.correo" th:field="*{propietario.correo}">
                                </div>
                                <!-- telefono -->
                                <div class="mb-3">
                                    <label for="propietario.telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="propietario.telefono"
                                        name="propietario.telefono" th:field="*{propietario.telefono}">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>